@media only screen and (min-width : 320px) and (max-width : 568px) {
  /* timkiem */
.timkiem{
  position: absolute;
  left:50%;
  top:-2%;
  z-index: 20;
  color: white;
}
.download{
  opacity: 0;
}
.timkiem .fa{
  opacity: 0;
}
/* navbar */
.navbar{
  margin-top: 0;
}
.navbar-nav{
  text-align: center;
  background-color: black;
}
.navbar-collapse{
  height:100%;
}
.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  border: 2px solid #da7e29;
  overflow: hidden;
  box-shadow: 0 2px 5px #da7e29;
}
.menu-btn__burger {
  width:80%;
  height: 3px;
  background: #da7e29;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.menu-btn__burger::after,.menu-btn__burger::before{
  content: '';
  position: absolute;
  width: 80%;
  height: 3px;
  background: #da7e29;
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-10px);
}
.menu-btn__burger::after {
  transform: translateY(10px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -37px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(37px, 35px);
}
.navbar-collapse{
  height:120%;
}
/* carousel */
.carousel-item img{
  width: 100%;
  height: 550px;
}
.carousel-item p{
  font-size: 20px;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.carousel-item a{
  width: 127px;
  height: 52px;
  margin:0 auto 150px;
}
/* footer */
.thanhphan{
  text-align: center;
  width:100%;
  margin: auto;
}
.thanhphan img{
  width:100%;
}
#footer .col-sm-6 h4{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  position: absolute;
  top:5%;
  left:30%;
}
.copyright{
  font-size:10px;
}
.diachi{
  margin-top: 10px;
}
/* tin tuc moi nhat news */
#news .tintuc .btn{
  margin-left: 35%;
}
.tintuc img{
  width:100%;
}
/* then lon hơn  */
}
@media only screen and (max-width : 568px) and (orientation : landscape) {
	
}
@media only screen and (max-width : 918px) {
.logo{
  width:70px;
  height:50px;
}
/* aboutme */
#aboutme h6{
  font-size: 15px;
}  
#aboutme h3{
  font-size: 25px;
  text-align: center;
} 
/* plant */
#plant h3{
  font-size:25px;
  text-align: center;
}
#plant h5{
  font-size:15px;
  text-align: center;
}
#plant .hinhanh{
  width:100%;
  margin-top:15px;
}
.hinhanh img{
  width:100%;
}
#plant .hinhanh:hover h6{
  transform: translate3d(55%,-150%,0);
}
/* tin tuc moi nhat news */
#news .tintuc .btn{
  margin-left: 35%;
}
}
@media only screen and (max-width : 959px) {

}
